body {
  font-family: "Lato", "Roboto", sans-serif;
}

label {
  display: inline-block;
  width: 100px;
}

input {
  width: 500px;
  padding: 5px;
  font-size: 16px;
}

button {
  font-size: 16px;
  padding: 5px;
}

.black {
  color: black;
}

.purple {
  color: purple;
}

.bold {
  font-weight: bold;
}

.flex {
  display: flex;
}

.input-error {
  padding: 5px;
  color: red;
  font-size: 12px;
}

.input-error:before {
  content: '*';
}